# Program
ngsAMOVA

# Dependencies
*.d

# Object files
*.o

# Preprocessed C++ files
*.ii

# Assembly source files
*.s

# VIM swap files
*.swp

# Log files
*.log

# In-place test output
output*

# NFS ongoing job
.nfs*

# R files
.RData
.Rhistory

# Valgrind 
vgcore*
.vscode/

# Test output files
test/testwd/

# Version info
version.h

# Build info
build.h

# Vscode
*code-workspace*
.vscode/

# Git message template
git_message.txt

# Commit message draft
COMMIT_CHANGES
TODO
