# Prerequisites
*.d

# Compiled Object files
*.o


ngsAMOVA

# VIM swap files
*.swp


# Test VCF files
./t*.vcf
!test/t*vcf

# Test output files
*testput*


# Log files
*.log
amovaput*



# NFS ongoing job
.nfs*


wd/
wd/*

.RData
.Rhistory

*vgcore*
.vscode/settings.json
.vscode/
test/testwd/
